'name': 'Velocity (HTML)'
'scopeName': 'text.html.velocity'
'fileTypes': [
  'vm',
  'vm.html'
]
'injections':
  'text.html.velocity - (meta.embedded | meta.tag | source.velocity), L:((text.html.velocity meta.tag) - source.velocity), L:(source.js.embedded.html - source.velocity)':
    'patterns': [
      {
        'include': 'source.velocity'
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
